@tailwind base;
@tailwind components;
@tailwind utilities;
@daisyui;

#ejemplo {
    color: #0061ff;
    color: #008200;
    color: #00a1ff;
    color: #262626;
    color: #00deff;
    color: #00ff79;
    color: #ff5600;
    color: #d3013f;
}
